<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeaCuke.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B802BDC91BF4174400AA7D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B802BDDD1BF4174400AA7D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B802BDE81BF4174400AA7D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
